body {
    background-color: rgba(72, 195, 226, 0.712);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: rgb(3, 57, 65);
}

#full_content {
    color: maroon;
    border: 1em solid chocolate;
    border-radius: 1em;
    background-color: chocolate;
}

#flex {
    display: flex;
}

#main_part {
    flex: 1;
    flex-direction: column;
    flex: 1;
}

table {
    display: flex;
    flex: 2;
    border: 1px solid maroon;
    border-radius: 1em;
}

table tr td {
    border-radius: 1em;
    width: 2.4em;
    height: 6em;
    background-color: red;
}

#infobutton {
    width: 3.5em;
}

#infocontent {
    display: none;
}

#fullp {
    float: right;
    border: 1px solid maroon;
    border-radius: 1em;
    width: 2em;
}

#bonus {
    height: 100em;
}



.nav {
    background-color: rgb(59, 147, 170);
    overflow: hidden;
    padding: 15px;
    margin: 15px;
    border-radius: 20px;
    color: #ffffff;
    box-shadow: 5px 5px 10px rgba(115, 241, 255, 0.712);
}


.nav a {
    float: left;
    display: block;
    color: rgb(190, 233, 244);
    text-align: center;
    padding: 14px 16px;
    margin: 4px;
    text-decoration: none;
    font-size: 1.4em;
}

.nav a:hover {
    background-color: rgb(136, 206, 224);
    border-radius: 10px;
}

.nav a.active {
    background-color: rgb(136, 206, 224);
    border-radius: 10px;
}

.nav .icon {
    display: none;
}

button {
    border: 1px solid maroon;
    color: chocolate;
    background-color: maroon;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 1em;
    width: 4em;
    font-weight: 600;
}

button:hover {
    font-weight: 1200;
    background-color: saddlebrown;
    border: saddlebrown;
}

input {
    border: 1px solid maroon;
    color: rgb(3, 57, 65);
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(190, 233, 244);
    border-radius: 0.5em;
    width: 20em;
}

@media screen and (max-width: 600px) {
    .nav a:not(:first-child) {
        display: none;
    }
    .nav a.icon {
        float: right;
        display: block;
    }


@media screen and (max-width: 600px) {
    .nav.responsive {position: relative;}
    .nav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
.nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
  }
}
