#flex {
    display: flex;
}

#main_part {
    flex: 1;
    flex-direction: column;
    flex: 1;
}

table {
    display: flex;
    flex: 2;
    border: 1px solid black;
}

table tr td {
    width: 2.4em;
    height: 10em;
    background-color: red;
}

#infobutton {
    width: 3.5em;
}

#infocontent {
    display: none;
}

#fullp {
    float: right;
    border: 1px solid black;
    width: 1.4em;
}

#bonus {
    height: 100em;
}