#pages {
    width: 36em;
    border: 1px solid black;
    color: black;
}

#pages a {
    text-decoration: none;
    font-style: arial;
    color: inherit;
}

#pages a:hover {
    font-weight: bold;
}

#infobutton {
    width: 3.5em;
}

#infocontent {
    display: none;
}