body {
    background-color: #a8deb3;
    font-family: "Paytone One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #192b1c;
      }
      


#maantieto {
    display: flex;
    flex-direction: column;
    background-color: #80b18b;
    padding: 30px;
    border-radius: 25px;
    color: #273e2c;
}

#maantieto h1 {
    text-align: center;
    font-size: 2.5em;
    color: #192b1c;
}

#maantieto p {
    font-size: 1.5em;
    text-align: center;
}

#peli {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 700px;
    margin: 0 auto;
    padding: 40px;
}

#peli p {
    font-size: 1.2em;
    color: #273e2c;
}

#peli h2 {
    font-size: 2em;
    color: #192b1c;
}

#kysymykset div {
    padding: 10px;
    font-size: 1.2em;
    
}

#kysymykset button {
    padding: 20px;
    margin: 30px;
    border-radius: 15px;
    border-style: none;
    font-weight: bold;
    background-color: #192b1c;
    color: #ffffff;
    font-family: "Paytone One", sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    transition: all .4s ease;
}

button:hover {
    box-shadow: 5px 5px 5px rgba(11, 14, 10, 0.6)
}

#kysymysTotta:hover {
    color: green;
    background-color: rgb(41, 60, 41);
}

#kysymysTarua:hover {
    color: red;
    background-color: rgb(99, 42, 42);
}

#oikein-vaarin {
    padding: 40px;
}

/* Navigaation CSS */

.nav {
    background-color: #4e7b58;
    overflow: hidden;
    padding: 10px;
    margin: 15px;
    border-radius: 25px;
    color: #273e2c;
}


.nav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.3em;
}

.nav a:hover {
    background-color: #80b18b;
    border-radius: 10px;
}

.nav a.active {
    background-color: #80b18b;
    border-radius: 10px;
}

.nav .icon {
    display: none;
}

/* Navigaation CSS PÄÄTTYY */




@media only screen and (max-width: 600px) {

    #peli {
        width: 300px;
    }
  }

/* Navigaation responsiivisuus */

@media screen and (max-width: 600px) {
    .nav a:not(:first-child) {
        display: none;
    }
    .nav a.icon {
        float: right;
        display: block;
    }


@media screen and (max-width: 600px) {
    .nav.responsive {position: relative;}
    .nav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
.nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
  }
}