body {
    background-color: #a8deb3;
}

#maantieto {
    display: flex;
    flex-direction: column;
    background-color: #80b18b;
    padding: 30px;
    border-radius: 25px;
}

#maantieto h1 {
    text-align: center;
    font-size: 2.5em;
}

#maantieto p {
    font-size: 1.5em;
}

#peli {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 500px;
    margin: 0 auto;
    padding: 40px;
}

#peli p {
    font-size: 1.2em;
}

#peli h2 {
    font-size: 2em;
}


#peli1 {
    font-size: 1.4em;
    display: flex;
    flex-direction: column;

}

#vastaus {
    font-size: 1em;
    padding: 10px;
    margin: 15px;
}

#tarkistus {
    margin: 0 auto;
    font-size: 0.8em;
    padding: 10px;
}

/* Navigaation CSS */

.nav {
    background-color: #4e7b58;
    overflow: hidden;
    padding: 10px;
    margin: 15px;
    border-radius: 25px;
}


.nav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.3em;
}

.nav a:hover {
    background-color: #80b18b;
    border-radius: 10px;
}

.nav a.active {
    background-color: #80b18b;
    border-radius: 10px;
}

.nav .icon {
    display: none;
}

/* Navigaation CSS PÄÄTTYY */




@media only screen and (max-width: 600px) {

    #peli {
        width: 300px;
    }
  }

/* Navigaation responsiivisuus */

@media screen and (max-width: 600px) {
    .nav a:not(:first-child) {
        display: none;
    }
    .nav a.icon {
        float: right;
        display: block;
    }


@media screen and (max-width: 600px) {
    .nav.responsive {position: relative;}
    .nav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
.nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
  }
}