body {
    background-color: rgba(72, 195, 226, 0.712);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: rgb(3, 57, 65);
}

.nav {
    background-color: rgb(59, 147, 170);
    overflow: hidden;
    padding: 15px;
    margin: 15px;
    border-radius: 20px;
    color: #ffffff;
    box-shadow: 5px 5px 10px rgba(115, 241, 255, 0.712);
}

.nav a {
    float: left;
    display: block;
    color: rgb(190, 233, 244);
    text-align: center;
    padding: 14px 16px;
    margin: 4px;
    text-decoration: none;
    font-size: 1.4em;
}

.nav a:hover {
    background-color: rgb(136, 206, 224);
    border-radius: 10px;
}

.nav a.active {
    background-color: rgb(136, 206, 224);
    border-radius: 10px;
}

.container {
    color: white;
    border: 4px solid white;
    border-radius: 2em;
    background-color: rgb(70, 130, 180);
    font-size: 1.3em;
    display: grid;
    gap: 30px; /* Lisää välistys sarakkeiden välille */
    text-align: center;
}

.otsikko {
    color: white;
    font-size: 1.5em;
    margin-bottom: 10px;
    
}

.tavutus button,
#sanaluokat button {
    font-size: 1.2em; /* Fonttikoko */
    padding: 8px 16px; /* Sisätila */
    border-radius: 5px; /* Pyöristetyt reunat */
    background-color: rgb(59, 117, 165); /* Taustaväri */
    color: white; /* Tekstin väri */
    cursor: pointer; /* Osoitin muuttuu käsiksi */
    transition: background-color 0.3s ease; /* Sulava värien vaihtuminen */
    
}

.tavutus input[type="text"],
#sanaluokat input[type="text"] {
    font-size: 1.2em; /* Fonttikoko */
    padding: 4px; /* Sisennys sisätilaa varten */
    border: 2px solid rgba(0, 0, 0, 0.5); /* Reunaviiva */
    border-radius: 5px; /* Pyöristetyt reunat */
    width: 300px;
    margin-bottom: 20px;
    
}





